<h2>Log In</h2>

<span class="req">
<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %>
</span>

<br><br>

<form method="POST" action="/login">
    
    <div class="container-form">

    <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="john.doe@unkown.com">
    <br><br>

    <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    <br><br>

    <input type="submit" value="Log In">

    </div>
</form>

<br>
<p>Don't have an account yet? <a href="/signup">Sign up</a>.</p>