<h2>Bucket lists of <%= @user.name %></h2>

<div class="gallery">
<% @user.lists.each do |list| %>

    <div class="card">
    <a href="/lists/<%= list.id %>"><img src="<%= list.image %>">
    <%= list.name %></a>
    </div>
    
<% end %>

    <a href="/lists/new">
        <img src="https://corefact-marketing.s3-us-west-1.amazonaws.com/random/upload-image.png" alt="Upload image">
        <div class="desc">Create your list</div>
    </a>
</div>