<div class="container">
    
  <div class="col-md-8 col-md-offset-2">
    
    <h2>Find amazing bucket lists</h2>
    
<div class="row"> 
  <div class="column">
    <a href="/lists/1"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-places-for-solo-travel-1556056047.png?crop=0.470xw:0.704xh;0.232xw,0.151xh&resize=640:*"></a><p>Travel solo</p>
    <a href="/lists/4"><img src="https://www.cnet.com/a/img/TMuLQPBV8MwH22EfsaOZ6FDkYjw=/1200x675/2020/02/07/8ab08f89-9a28-4352-bb84-1e78163f4110/gettyimages-1143071628.jpg"></a><p>Run a marathon</p>
    <a href="/lists/3"><img src="https://www.planetware.com/wpimages/2020/03/best-hot-air-balloon-rides-cappadocia-turkey.jpg"></a><p>Take a ride in a hot air balloon</p>
    <a href="/lists/5"><img src="https://www.nbn.org.il/wp-content/uploads/2014/09/dep_photo_0038_Layer-1.jpg"></a><p>Get marriage with the love of your life</p>
    <a href="/lists/4"><img src="https://www.mediabistro.com/wp-content/uploads/2014/09/best-selling-author.jpg"></a><p>Write a book</p>
    <a href="/lists/3"><img src="https://viewfinder.expedia.com/wp-content/uploads/2019/07/Woman-swimming-with-sharks-in-an-Aquarium-2.jpg"></a><p>Swim with sharks</p>
    <a href="/lists/1"><img src="https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/main_puppies_1280p.jpg?itok=ZZ1podQK"></a><p>Volunteer for a cause that you believe</p>
    
  </div>
  <div class="column">
    <a href="/lists/3"><img src="https://img.etimg.com/thumb/msid-79732419,width-650,imgsize-1548694,,resizemode-4,quality-100/tandem-skydiving-at-skydive-dubai-palm-dropzone.jpg"></a><p>Skydive</p>
    <a href="/lists/4"><img src="https://etimg.etb2bimg.com/photo/51347269.cms"></a><p>Start your dream business or job</p>
    <a href="/lists/2"><img src="https://www.selectvacationproperties.com/wp-content/uploads/2018/10/Kids-on-Beach.jpeg"></a><p>Visit the Pacific and the Atlantic oceans</p>
    <a href="/lists/5"><img src="https://www.courant.com/resizer/_Edas4fruon42IuJbOcTPMaq5Ko=/1200x0/top/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/U42M72T66NGYFEZIKMEAEUVARU.jpg"></a><p>Take a family ski vacation</p>
    <a href="/lists/2"><img src="https://www.tourist-destinations.com/wp-content/uploads/2011/06/I.jpg"></a><p>Go to Bali, Indonesia</p>
    <a href="/lists/1"><img src="https://www.refinery29.com/images/9686482.jpg?crop=40%3A21"></a><p>Master a recipe</p>
    <a href="/lists/1"><img src="https://www.bigstridz.com/wp-content/uploads/2018/05/how-to-start-meditating.jpeg"></a><p>Learn how to meditate</p>
  </div>  
</div>     
      <script>
        var elements = document.getElementsByClassName("column");
        var i;
        function two() {
          for (i = 0; i < elements.length; i++) {
            elements[i].style.msFlex = "50%";  // IE10
            elements[i].style.flex = "50%";
          }
        }
      </script>

  </div>
</div>